## Ejercicio de Masajeo de Datos II

In [32]:
#Uso de librería pandas – leer archivo fifa_eda.csv 
import pandas as pd
import numpy as numpy
import os

#Cambiar el directorio actual con chdir
os.chdir(r'C:\Users\ACamacho\Desktop\EBAC\MOD17-DataMassaging2\Actividad Mod17')

#read_csv para leer el archivo .csv
df=pd.read_csv('fifa_eda.csv')

In [33]:
#Visualización de una muestra de 20 líneas.
df.sample(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
4177,232512,Y. Kashiwa,30,Japan,71,71,Sanfrecce Hiroshima,2200.0,9.0,Right,1.0,4.0,LM,2014,2021-01-01,5.500000,137.000000,2800.000000
18026,241444,Chen Ji,21,China PR,50,59,Guizhou Hengfeng FC,50.0,2.0,Right,1.0,2.0,LM,2016,2018-12-31,5.833333,143.000000,4585.060806
4922,230443,Ansel Barnisco,30,Brazil,70,70,Paraná,1300.0,11.0,Right,1.0,2.0,LDM,2018,2021-01-01,6.000000,181.000000,2500.000000
17169,225940,K. Mellado,19,Chile,55,69,Deportes Iquique,190.0,1.0,Right,1.0,2.0,ST,2014,2018-01-01,5.833333,170.000000,375.000000
128,198009,M. Perin,25,Italy,84,89,Juventus,29500.0,105.0,Right,2.0,1.0,GK,2018,2022-01-01,6.166667,170.000000,50900.000000
9824,244973,M. Ruiz,17,Mexico,66,79,Querétaro,1100.0,2.0,Right,1.0,3.0,LCM,2018,2021-01-01,5.833333,163.000000,2600.000000
18091,243658,P. Paya,18,Sweden,50,67,GIF Sundsvall,50.0,1.0,Right,1.0,2.0,CDM,2018,2021-01-01,5.833333,130.000000,94.000000
12244,224556,Rao Weihui,29,China PR,63,63,Beijing Renhe FC,280.0,3.0,Left,1.0,2.0,LB,2013,2019-01-01,5.833333,157.000000,602.000000
13623,237475,H. Özkan,20,Turkey,62,72,KV Oostende,475.0,2.0,Right,1.0,2.0,CM,2017,2020-01-01,5.833333,154.000000,808.000000
6446,192728,M. Hartmann,32,Germany,69,69,SC Fortuna Köln,850.0,2.0,Right,2.0,3.0,ST,2018,2021-01-01,6.000000,170.000000,1200.000000
5049,207440,F. Fragapane,25,Argentina,70,73,Unión de Santa Fe,2200.0,8.0,Right,1.0,3.0,LM,2017,2019-01-01,5.500000,143.000000,3500.000000
16321,246300,B. Vera,19,Colombia,57,73,Itagüí Leones FC,200.0,1.0,Right,1.0,2.0,CB,2018,2021-01-01,5.916667,163.000000,395.000000
1772,188768,Serey Dié,33,Ivory Coast,75,75,FC Basel 1893,2700.0,23.0,Right,2.0,3.0,CDM,2016,2020-01-01,5.833333,170.000000,4000.000000
10673,203450,J. Washausen,29,Germany,65,65,Hallescher FC,425.0,1.0,Right,1.0,2.0,RDM,2018,2020-01-01,6.083333,174.000000,616.000000
7101,199800,Z. Bergdich,29,Morocco,68,68,Os Belenenses,675.0,3.0,Left,1.0,3.0,LB,2018,2020-01-01,5.833333,152.000000,1400.000000
13561,232338,Han Hee Hoon,27,Korea Republic,62,63,Daegu FC,290.0,1.0,Right,1.0,2.0,CB,2017,2021-01-01,6.000000,172.000000,384.000000
13246,244022,I. Sissoko,22,France,62,68,AS Béziers,425.0,2.0,Right,NaN,NaN,LB,2016,NaN,5.946771,165.979129,4585.060806
14414,228772,N. Blissett,28,England,61,61,Macclesfield Town,260.0,2.0,Right,1.0,2.0,ST,2018,2019-01-01,6.333333,172.000000,455.000000
6718,178461,J. Drachmann,30,Denmark,68,68,Odense Boldklub,825.0,6.0,Right,1.0,2.0,CM,2018,2022-01-01,5.833333,157.000000,1000.000000
10782,199636,M. Guezoui,29,France,65,65,Valenciennes FC,550.0,2.0,Right,1.0,3.0,ST,2017,2019-01-01,6.166667,176.000000,963.000000

In [34]:

df.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

In [35]:
#Generar la media, mínimo y máximo de los jugadores en total, y por país (groupby)

df_country=df.groupby('Nationality').size()
#df_country

print('Media=', df_country.mean())
print('Min=', df_country.min())
print('Max=', df_country.max())

Media= 111.01829268292683
Min= 1
Max= 1662

In [36]:
#Generar 2 jugadores ficticios con todos los campos del dataset y añadirlos al mismo. Visualizarlos con .tail().

data = {'ID': [204557, 204558],
        'Name': ['Emiliano Camacho', 'David Guerrero'],
        'Age': [20, 19],
        'Nationality': ['Mexico', 'Colombia'],
        'Overall': [90, 85],
        'Potential': [91, 87],
        'Club': ["Monterrey", 'Tigres U.A.N.L.'],
        'Value': [83500, 83500],
        'Wage': [450, 450],
        'Preferred Foot': ["Right", "Left"],
        'International Reputation': [4, 3],
        'Skill Moves': [4, 3],
        'Position': ['CAM', 'ST'],
        'Joined': [2015, 2017],
        'Contract Valid Until': ['1/1/2024', '1/1/2024'],
        'Height': [6.083333, 5.916666],
        'Weight': [168, 160],
        'Release Clause': [127100, 121300],
        }


df_new=pd.DataFrame(data, columns=['ID', 'Name', 'Age', 'Nationality','Overall', 'Potential', 'Club', 'Value', 'Wage','Preferred Foot','International Reputation', 'Skill Moves','Position','Joined','Contract Valid Until','Height','Weight','Release Clause'])
df_new

# Combinar los DataFrames usando concat
df = pd.concat([df, df_new])

df
print(df.tail(2))

       ID              Name  Age Nationality  Overall  Potential  \
0  204557  Emiliano Camacho   20      Mexico       90         91
1  204558    David Guerrero   19    Colombia       85         87

              Club    Value   Wage Preferred Foot  International Reputation  \
0        Monterrey  83500.0  450.0          Right                       4.0
1  Tigres U.A.N.L.  83500.0  450.0           Left                       3.0

   Skill Moves Position  Joined Contract Valid Until    Height  Weight  \
0          4.0      CAM    2015             1/1/2024  6.083333   168.0
1          3.0       ST    2017             1/1/2024  5.916666   160.0

   Release Clause
0        127100.0
1        121300.0

In [37]:
#Correr nuevamente las estadísticas y compararlas

#Generar la media, mínimo y máximo de los jugadores en total, y por país (groupby)

df_country2=df.groupby('Nationality').size()
#df_country

print('Media=', df_country2.mean())
print('Min=', df_country2.min())
print('Max=', df_country2.max())

Media= 111.03048780487805
Min= 1
Max= 1662

In [38]:
#Generar una lambda que añada la zona horaria y la capital del país de nacionalidad

import pytz
from countryinfo import CountryInfo

df['Nationality'] = df['Nationality'].str.upper()

#df['ZonaHoraria']=df['Nationality'].apply(lambda x:pytz.country_timezones[x])
df['ZonaHoraria'] = df['Nationality'].apply(lambda x: pytz.country_timezones.get(x, [None])[0])
df


#NO FUNCIONA PORQUE NO TIENE LOS CODIGOS DE PAIS

#df_clase["Capital"]= df_clase["NombrePais"].apply(lambda x:CountryInfo(x).capital())
#df_clase

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,ZonaHoraria
0,158023,L. Messi,31,ARGENTINA,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,None
1,20801,Cristiano Ronaldo,33,PORTUGAL,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,None
2,190871,Neymar Jr,26,BRAZIL,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,None
3,193080,De Gea,27,SPAIN,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,None
4,192985,K. De Bruyne,27,BELGIUM,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,ENGLAND,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,None
18205,246268,D. Walker-Rice,17,ENGLAND,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,None
18206,246269,G. Nugent,16,ENGLAND,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,None
0,204557,Emiliano Camacho,20,MEXICO,90,91,Monterrey,83500.0,450.0,Right,4.0,4.0,CAM,2015,1/1/2024,6.083333,168.0,127100.0,None
1,204558,David Guerrero,19,COLOMBIA,85,87,Tigres U.A.N.L.,83500.0,450.0,Left,3.0,3.0,ST,2017,1/1/2024,5.916666,160.0,121300.0,None

In [39]:
pip install pycountry

Requirement already satisfied: pycountry in c:\users\acamacho\appdata\local\programs\python\python311\lib\site-packages (22.3.5)
Requirement already satisfied: setuptools in c:\users\acamacho\appdata\local\programs\python\python311\lib\site-packages (from pycountry) (65.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
#Generar una lambda que añada la zona horaria y la capital del país de nacionalidad


# Convertir la columna 'Nationality' a mayúscula
df['Nationality'] = df['Nationality'].str.upper()

#Función lambda para obtener la zona horaria
get_timezone = lambda country: pytz.country_timezones.get(pycountry.countries.search_fuzzy(country)[0].alpha_2, [None])[0]

# Aplicar la función lambda a la columna 'Nationality' y crear la columna 'ZonaHoraria'
df['ZonaHoraria'] = df['Nationality'].apply(get_timezone)
df

#Tampoco resulto, ya que no ecncuentra el code de England

LookupError: england

In [62]:
import pycountry
#Eliminar linea con caracteres extraños
df.drop(df[df["ID"]==205425].index, inplace=True)
df

#Paises a corregir 

corrections = {
    'ENGLAND': 'GREAT BRITAIN',
    'BOSNIA HERZEGOVINA': 'BOSNIA',
    'KOREA REPUBLIC': 'SOUTH KOREA',
    'SCOTLAND': 'GREAT BRITAIN',
    'CENTRAL AFRICAN REP.': 'CENTRAL AFRICA',
    'DR CONGO': 'CONGO',
    'IVORY COAST': 'COTE D\'IVOIRE',
    'REPUBLIC OF IRELAND': 'GREAT BRITAIN',
    'FYR MACEDONIA': 'MACEDONIA',
    'CHINA PR': 'CHINA',
    'GUINEA BISSAU': 'GUINEA-BISSAU',
    'TRINIDAD & TOBAGO': 'TRINIDAD AND TOBAGO',
    'ANTIGUA & BARBUDA':'ANTIGUA AND BARBUDA',
    'KOREA DPR': 'NORTH KOREA',
    'ST KITTS NEVIS': 'SAINT KITTS AND NEVIS',
    'ST LUCIA':'SAINT LUCIA'
}

df['Nationality'] = df['Nationality'].replace(corrections)
#Función lambda para obtener la zona horaria

get_timezone = lambda country: pytz.country_timezones.get(pycountry.countries.search_fuzzy(country)[0].alpha_2, [None])[0]


# Aplicar la función lambda a la columna 'Nationality' y crear la columna 'ZonaHoraria'
df['ZonaHoraria'] = df['Nationality'].apply(get_timezone)

In [63]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,ZonaHoraria
0,158023,L. Messi,31,ARGENTINA,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,America/Argentina/Buenos_Aires
1,20801,Cristiano Ronaldo,33,PORTUGAL,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,Europe/Lisbon
2,190871,Neymar Jr,26,BRAZIL,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,America/Noronha
3,193080,De Gea,27,SPAIN,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,Europe/Madrid
4,192985,K. De Bruyne,27,BELGIUM,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,Europe/Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,GREAT BRITAIN,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,Europe/London
18205,246268,D. Walker-Rice,17,GREAT BRITAIN,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,Europe/London
18206,246269,G. Nugent,16,GREAT BRITAIN,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,Europe/London
0,204557,Emiliano Camacho,20,MEXICO,90,91,Monterrey,83500.0,450.0,Right,4.0,4.0,CAM,2015,1/1/2024,6.083333,168.0,127100.0,America/Mexico_City
1,204558,David Guerrero,19,COLOMBIA,85,87,Tigres U.A.N.L.,83500.0,450.0,Left,3.0,3.0,ST,2017,1/1/2024,5.916666,160.0,121300.0,America/Bogota

In [76]:

df.drop(df[df["ID"]==192937].index, inplace=True)

df['Nationality'] = df['Nationality'].replace('SERBIA', 'SERBIA AND MONTENEGRO')
df['Nationality'] = df['Nationality'].replace('MONTENEGRO', 'SERBIA AND MONTENEGRO')
# Función lambda para obtener la capital del país


get_country_code = lambda country: pycountry.countries.get(name=country).alpha_2 if pycountry.countries.get(name=country) else None

# Aplicar la función lambda a la columna 'Nationality' y crear la columna 'CountryCode'
df['CountryCode'] = df['Nationality'].apply(get_country_code)

#Obteniendo la capital de cada pais
df["Capital"]= df["CountryCode"].apply(lambda x:CountryInfo(x).capital())
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,ZonaHoraria,CountryCode,Capital
0,158023,L. Messi,31,ARGENTINA,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,America/Argentina/Buenos_Aires,AR,Buenos Aires
1,20801,Cristiano Ronaldo,33,PORTUGAL,94,94,Juventus,77000.0,405.0,Right,...,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,Europe/Lisbon,PT,Lisbon
2,190871,Neymar Jr,26,BRAZIL,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,America/Noronha,BR,Brasília
3,193080,De Gea,27,SPAIN,91,93,Manchester United,72000.0,260.0,Right,...,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,Europe/Madrid,ES,Madrid
4,192985,K. De Bruyne,27,BELGIUM,91,92,Manchester City,102000.0,355.0,Right,...,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,Europe/Brussels,BE,Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,GREAT BRITAIN,47,67,Cambridge United,60.0,1.0,Right,...,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,Europe/London,None,Asmara
18205,246268,D. Walker-Rice,17,GREAT BRITAIN,47,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,Europe/London,None,Asmara
18206,246269,G. Nugent,16,GREAT BRITAIN,46,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,Europe/London,None,Asmara
0,204557,Emiliano Camacho,20,MEXICO,90,91,Monterrey,83500.0,450.0,Right,...,4.0,CAM,2015,1/1/2024,6.083333,168.0,127100.0,America/Mexico_City,MX,Mexico City
1,204558,David Guerrero,19,COLOMBIA,85,87,Tigres U.A.N.L.,83500.0,450.0,Left,...,3.0,ST,2017,1/1/2024,5.916666,160.0,121300.0,America/Bogota,CO,Bogotá

In [77]:
#Generar una lambda que en base al potencial, añada una columna “Candidato” o “Next Year”,
#para el premio para el balón de oro. Jugadores con más de 85, son candidatos.

df['Next Year']=df['Potential'].apply(lambda x:"Candidate" if x>85 else 'Does not apply')
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,ZonaHoraria,CountryCode,Capital,Next Year
0,158023,L. Messi,31,ARGENTINA,94,94,FC Barcelona,110500.0,565.0,Left,...,RF,2004,2021-01-01,5.583333,159.0,226500.0,America/Argentina/Buenos_Aires,AR,Buenos Aires,Candidate
1,20801,Cristiano Ronaldo,33,PORTUGAL,94,94,Juventus,77000.0,405.0,Right,...,ST,2018,2022-01-01,6.166667,183.0,127100.0,Europe/Lisbon,PT,Lisbon,Candidate
2,190871,Neymar Jr,26,BRAZIL,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,LW,2017,2022-01-01,5.750000,150.0,228100.0,America/Noronha,BR,Brasília,Candidate
3,193080,De Gea,27,SPAIN,91,93,Manchester United,72000.0,260.0,Right,...,GK,2011,2020-01-01,6.333333,168.0,138600.0,Europe/Madrid,ES,Madrid,Candidate
4,192985,K. De Bruyne,27,BELGIUM,91,92,Manchester City,102000.0,355.0,Right,...,RCM,2015,2023-01-01,5.916667,154.0,196400.0,Europe/Brussels,BE,Brussels,Candidate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,GREAT BRITAIN,47,67,Cambridge United,60.0,1.0,Right,...,ST,2017,2021-01-01,5.666667,148.0,165.0,Europe/London,None,Asmara,Does not apply
18205,246268,D. Walker-Rice,17,GREAT BRITAIN,47,66,Tranmere Rovers,60.0,1.0,Right,...,RW,2018,2019-01-01,5.833333,154.0,143.0,Europe/London,None,Asmara,Does not apply
18206,246269,G. Nugent,16,GREAT BRITAIN,46,66,Tranmere Rovers,60.0,1.0,Right,...,CM,2018,2019-01-01,5.833333,176.0,165.0,Europe/London,None,Asmara,Does not apply
0,204557,Emiliano Camacho,20,MEXICO,90,91,Monterrey,83500.0,450.0,Right,...,CAM,2015,1/1/2024,6.083333,168.0,127100.0,America/Mexico_City,MX,Mexico City,Candidate
1,204558,David Guerrero,19,COLOMBIA,85,87,Tigres U.A.N.L.,83500.0,450.0,Left,...,ST,2017,1/1/2024,5.916666,160.0,121300.0,America/Bogota,CO,Bogotá,Candidate